[submodule "dependencies/tinyxml"]
	path = dependencies/tinyxml
	url = git://github.com/paulsapps/TinyXML.git
[submodule "dependencies/lua"]
	path = dependencies/lua
	url = git://github.com/LuaDist/lua.git
[submodule "dependencies/luabind"]
	path = dependencies/luabind
	url = git://github.com/LuaDist/luabind.git
